bin/
.vs/
obj/
packages/
nuget.config
nuget.exe
publish.bat
new 1.txt
log.txt
unittest.txt
_site/articles/intro.html
_site/articles/toc.html
Output-Build.txt
www/plotly/data/
venv/
minSelect_large.csv
UpgradeLog.htm
UpgradeLog2.htm
TimeSeriesAnalysis.targetnetstandard20.notworking.csproj
*.zip
runtest.bat
InternalTrace.11860.log
InternalTrace*
TestResult.xml
profiler/
