<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="PlotsAreEnabled" value= "true"/>
      <add key="ChromePath" 
           value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
      <add key="PlotlyURL" value="localhost\plotly\index.html"/>
      <add key="PlotDataPath" value= "C:\inetpub\wwwroot\plotly\Data"/>
    </appSettings>
</configuration>